<?php
    class Config {
        public static $passwordHash = '';
        public static $dbHost = 'localhost';
        public static $dbUser = 'user';
        public static $dbPassword = 'password';
        public static $dbName = 'database';
    }