@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf');
}

body {
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

#mainMenu {
    display: flex;
}

#mainMenu > ul {
    display: flex;
    flex-direction: row;
}

#mainMenu img {
    width: 64px;
    height: 64px;
}

#content {
    display: flex;
}
