@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf');
}

:root {
    --redAccent: rgb(201, 9, 19);
}

body {
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

#mainMenu {
    display: flex;
    justify-content: space-between;
    margin-top: 10px
}

#mainMenu, #submenu {
    padding-left: 20px;
}

#mainMenu > ul {
    display: flex;
    flex-direction: row;
}

#mainMenu img {
    width: 64px;
    height: 64px;
}

#content {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

a {
    text-decoration: none;
    color: initial;
}

a:visited {
    color: initial;
}

#smallLoginRegisterPanel {
    display: flex;
    flex-direction: row;
    width: 30vw;
    justify-content: space-evenly;
    align-items: center;
}

#smallLoginRegisterPanel > a {
    display: flex;
    background-color: var(--redAccent);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.25em;
}
