@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf');
}

:root {
    --redAccent: rgb(201, 9, 19);
    --whiteAccent: rgb(247, 247, 247);
}

html, body {
    scrollbar-color: var(--redAccent) var(--whiteAccent);
}

body {
    background-color: var(--whiteAccent);
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

#page_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
}

#main_menu {
    justify-content: space-between;
    margin-top: 10px
}

#main_menu, #submenu {
    display: flex;
    padding-left: 20px;
}

#main_menu > ul {
    display: flex;
    flex-direction: row;
}

#main_menu img {
    width: 64px;
    height: 64px;
}

#content {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

a {
    text-decoration: none;
    color: initial;
}

a:visited {
    color: initial;
}

#login_register_panel_small {
    display: flex;
    flex-direction: row;
    width: 30vw;
    justify-content: space-evenly;
    align-items: center;
}

#login_register_panel_small > a {
    display: flex;
    background-color: var(--redAccent);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.25em;
}

#main_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
}
