form {
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid var(--redAccent);
    padding: 5px;
    border-top: none;
    border-right: none;
    border-radius: 0 0 0 5px;
}

form > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

form > div > label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form > div > input, form > div > select {
    width: 65%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

form > div > button {
    width: 45%;
    margin: 0 auto;
}

form > div > img {
    margin: 0 auto;
}
