#team_add_form {

}

#teams_table_div {
    width: 50vw;
}

.team_addresses {
    width: 100%;
}

.team_addresses, .team_addresses * {
    border: none;
}

.team_addresses > tbody {
    width: 100%;
}

.team_addresses > tbody > tr {
    width: 100%;
}

.city_column {
    text-align: right;
    width: 40%;
}

.street_column {
    width: 60%;
}

#team_add_new_address_form_div {
    visibility: hidden;
}

#team_add_new_address_new_city_form_div {
    visibility: hidden;
}

#team_add_new_address_button {
    cursor: pointer;
}

#team_add_new_address_new_city_button {
    cursor: pointer;
}
